<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>443007787394-hn8bus3bhvlth2kjbk81uajh90s46440.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.443007787394-hn8bus3bhvlth2kjbk81uajh90s46440</string>
	<key>API_KEY</key>
	<string>AIzaSyBI0pMmdRZdiwXfKD4rHuYTOnb7H_b94Tk</string>
	<key>GCM_SENDER_ID</key>
	<string>443007787394</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>colorgenerator.colorGenerator</string>
	<key>PROJECT_ID</key>
	<string>color-generator-17b00</string>
	<key>STORAGE_BUCKET</key>
	<string>color-generator-17b00.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:443007787394:ios:1e4473be1f56e868a76f9b</string>
</dict>
</plist>